<!-- WEATHER PAGE TEMPLATE -->
<!DOCTYPE html>
<html>

<head>
    <title>Weather app</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <h1>Welcome to the Weather page!</h1>
    <div class="search">
        <form action="/" method="POST">
            <!-- <input type="submit" value="Get Weather"> -->
            <input name="city" type="text" placeholder="Enter any global location" required>
        </form>
        <h3>Use the search bar to view the weather of any worldwide location</h3>
        <!-- Read in data in JSON format and stringify it -->
        <!-- <p><%= JSON.stringify(weatherData) %></p> -->
        <p><%= (weatherData) %></p>
    </div>
    <div class="search">
        <form action="/">
            <!-- Create forecast button to automatically take user to homepage -->
            <button><i class="forecastButton"></i>Home</button>
        </form>
    </div>
    <div id="app1"></div>
    <script>
            <% console.log("weathfhfhfhfhf") %>
    </script>
    <!-- LOGIC TO PRINT OUT INDIVIDUAL DATA TO HTML PAGE -->
    <% function weatherTemplate(weather){ %>
  <% return ` %>
  <div class="animal">
      <h1>Temperature: <%= ${weather.main.temp} %></h1>
      <h1>Humidity: <%= ${weather.main.humidity} %></h1>
      <h1>Date & Time: <%= ${weather.dt_txt} %></h1>
      <h1>Feels like: <%= ${weather.main.feels_like} %></h1>
  </div>
  <% `} %>

  <% document.getElementById("app1").innerHTML = ` %>
  <h1 class="app-title"> <%= (${weatherData.length} %> is the visibility) </h1>
  <p>The temperature now is <% ${weatherData.map(weatherTemplate).join('')} %>
      <% ` %>
</body>

</html>