<!-- WEATHER PAGE TEMPLATE -->
<!DOCTYPE html>
<html>

<head>
    <title>Weather app</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>

<body class="weather-page">
    <div class="search">
        <!-- posting form to / route -->
        <form action="/" method="POST"></form>
    </div>
    <!-- NAVBAR -->
    <!-- LOAD NAVBAR EJS PAGE FROM NAVBAR FILE HERE -->
    <%- include('../components/navbar') %>
  
    <div>
        <table>
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Temperature (°C)</th>
                    <th>Feels Like</th>
                    <th>Humidity</th>
                    <th>Pressure (atm)</th>
                </tr>
            </thead>
            
            <!-- Object.key gets all keys (object in array) in object -->
            <!-- for each key, list it temporaarily as a key -->
            <% Object.keys(weatherData[0]).forEach(key => { %>
            <!-- for each object in array, call it day -->
            <% weatherData[0][key].forEach(day => { %>
            <!-- <table> -->
            <tbody>
                <tr>
                    <td><%= day.dt_txt %></td>
                    <td><%= day.main.temp %> </td>
                    <td><%= day.main.feels_like %></td>
                    <td><%= day.main.humidity %></td>
                    <td><%= day.main.pressure %></td>
                </tr>

                <% })%>
                <% }) %>
            </tbody>
        </table>
    </div>

    <div class="search">
        <form action="/"></form>
    </div>
</body>

</html>